{% extends 'insurance.html' %}
{% load static %}

{% block title %}Admin-Insurance{% endblock title %}

{% block login-register %} {% endblock login-register %}

{% block sideMenu %}
<div class="sideMenu-items">
    <ul>
        <li class="sideMenu-item">
            <a href="../ad_dashboard">Dhashboard</a>
        </li>
        <li class="sideMenu-item">
            <a href="../ad_show_users">Manage User</a>
        </li>
        <li class="sideMenu-item">
            <a href="../ad_policy_cat">Manage Policy</a>
        </li>
    </ul>
</div>
{% endblock sideMenu %}

{% block page_content %}

<div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">

            <a href="../ad_dashboard">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-4 shadow-lg"
                    style="background-image: url('{% static 'img/dashboard.jpg'%}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-4">Dash Board</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                {% comment %}<img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                    height="32" class="rounded-circle border border-white">{% endcomment %}
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" /></svg>
                                <small></small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" /></svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="../ad_show_users">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-4 shadow-lg"
                    style="background-image: url('{% static 'img/manage_user.jpg'%}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-4">Manage Users</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                {% comment %}<img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                    height="32" class="rounded-circle border border-white">{% endcomment %}
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" /></svg>
                                <small></small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" /></svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="../ad_policy_cat">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg"
                    style="background-image: url('{% static 'img/manage_policies.jpg'%}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-4">Manage Policies</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                {% comment %}<img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                    height="32" class="rounded-circle border border-white">{% endcomment %}
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" /></svg>
                                <small></small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" /></svg>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock page_content %}